body {
  width: 100vw;
  height: 100vh;
  background-color: #F7E4D4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 520px) {
  body {
    padding: 20px;
  }
}

body h1 {
  margin-bottom: 30px;
  font-family: 'EB Garamond', serif;
  font-weight: normal;
  color: #467745;
}

@media (max-width: 520px) {
  body h1 {
    width: calc(100% - 40px);
    font-size: 36px;
    text-align: start;
  }
}

@media (min-width: 521px) {
  body h1 {
    width: 50%;
    font-size: 48px;
    text-align: center;
  }
}

body input {
  width: 50%;
  max-width: 480px;
  height: 64px;
  margin-bottom: 30px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #fff;
}

@media (max-width: 520px) {
  body input {
    width: calc(100% - 40px);
  }
}

body input::-webkit-input-placeholder {
  color: #467745;
}

body input:-ms-input-placeholder {
  color: #467745;
}

body input::-ms-input-placeholder {
  color: #467745;
}

body input::placeholder {
  color: #467745;
}

body textarea {
  width: 50%;
  max-width: 480px;
  height: 120px;
  margin-bottom: 30px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #fff;
}

@media (max-width: 520px) {
  body textarea {
    width: calc(100% - 40px);
  }
}

body textarea::-webkit-input-placeholder {
  color: #467745;
}

body textarea:-ms-input-placeholder {
  color: #467745;
}

body textarea::-ms-input-placeholder {
  color: #467745;
}

body textarea::placeholder {
  color: #467745;
}

body div {
  width: 50%;
  max-width: 480px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px auto;
      grid-template-columns: 20px auto;
  grid-gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

body div label {
  overflow-wrap: normal;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #467745;
}

body div label a {
  text-decoration: underline;
}

body div #cbox {
  width: 20px;
  height: 20px;
  margin: auto;
  border: none;
  outline: none;
}

@media (max-width: 520px) {
  body div {
    width: 100%;
    margin-left: 20px;
  }
}

body button {
  width: 30%;
  max-width: 280px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 21px;
  letter-spacing: 0.2em;
  border-radius: 40px;
  background-color: #467745;
  color: #F7E4D4;
}

@media (max-width: 520px) {
  body button {
    width: 75%;
  }
}
/*# sourceMappingURL=style.css.map */